* {
    margin: 0;

}

body { 
    display: grid;
    height: 100%;
    grid-template-rows: 50%;
    background-color: #132e4c;
}

div img {
    max-width: 200px;
    border-radius: 50%;
    padding: 15px;

}

.container {

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;

}

.pri {
    grid-row: 2;
    z-index: 0;
}

.seg {
    z-index: -1;
}

.center {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    justify-content: center;
}

.center2 {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    justify-content: center;
}

.pri:hover {
    visibility: hidden;
}