
* {
    margin: 0;
    padding: 0;
}



li {
    list-style: none;
}


body {
    background: url("../img/background.jfif");
    background-size: cover;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    align-items: center;
    justify-items: center;

}

.center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.box {
    background-color: #eee;
    max-width: 350px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 35px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box h1 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 5px;
}


.box h2 {
    font-size: 20px;

}

.box p {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 25px;
}




.foto-perfil {
    border-radius: 50%;
    margin: 10px auto 30px auto;
    width: 250px;
    

}

.foto-perfil:hover {
    box-shadow: 0px 0px 15px  rgba(255, 0, 0, 0.918);
}

.redes-sociais {
    display: flex;
    justify-content: center;

}

.redes-sociais li {
    padding: 0 15px 0 15px;
    margin-bottom: 8px;
}

.box2 {
    background-color: #eee;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 450px;
    border-radius: 35px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box2 h1 {
    margin-bottom: 20px;
}

.box2 p {
    max-width: 600px;
    margin-bottom: 20px;
}

.box3 {
    display: grid;
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 800px;
    border-radius: 35px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
    justify-items: center;
    
}

.box3 h1 {
    margin-bottom: 30px;
}

.project-img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 35px;
    margin-bottom:  30px;
}

.project-img:hover {
    box-shadow: 0px 0px 15px  rgba(240, 194, 42, 0.918);
}

.box3 li {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 20px;

}

.box3 h2 {
    margin-top: 15px;
    margin-left: 15px;
    text-align: justify;
}

.box3 p {
   text-align: justify;
   padding: 15px;
   
    
}

footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.788));
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 10px 0px;
}

footer p {
    font-family: monospace;
    font-size: 20px;
    padding-left: 15px;
    color: black;

}


